<div class="pen-table-panel">
    <div class="pen-table-controls">
      <label>
        <input
          type="checkbox"
          [checked]="penTableEnabled"
          (change)="onPenTableEnabledChange($any($event.target).checked)"
        />
        Use pen table
      </label>
  
      <label>
        <input
          type="checkbox"
          [checked]="penTableScaled"
          (change)="onPenTableScaledChange($any($event.target).checked)"
        />
        Scaled
      </label>
    </div>
  
    <div class="pen-table-actions">

      <input
        #penTableFileInput
        type="file"
        (change)="onPenTableFileSelected($event)"
        style="display: none"
        (click)="clearFileInput($event)"
    />
    

      <button type="button" (click)="onPenTableUpload(penTableFileInput)">Upload</button>
      <button type="button" (click)="onPenTableDefault()">Default</button>
    

    </div>
  
    <table class="pen-table-grid">
      <thead>
        <tr>
          <th>Pen index</th>
          <th>Width</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of penData">
          <td>{{ row.index }}</td>
          <td>{{ row.width }}</td>
          <td>
            <button
              type="button"
              class="color-cell-button"
              (click)="openColorPicker(row, $event)"
            >
              <span
                class="color-swatch"
                [style.background]="row.color">
              </span>
            </button>
          </td>


          
        </tr>
      </tbody>
    </table>

    <rx-color-picker
      *ngIf="colorPickerVisible"
      [value]="selectedPenRow?.color || ''"
      (valueChange)="onPenColorChanged($event)">
    </rx-color-picker>


  </div>