<div *ngIf="visible && isActivefile" class="rx-measure-panel-container"
    [ngDraggable]="draggable"
    [bounds]="bounds"
    [inBounds]="false"
    [handle]="panelHeader"
    class="rx-measure-panel-container panel-container">
    <div #panelHeader class="panel-header">
        <span class="title">Scale settings</span>
        <span class="btn-close" (click)="onCloseClick()">&times;</span>
    </div>
    <div class="panel-body" [ngStyle]="{'max-height.px': maxHeight, 'overflow-y': 'auto'}">
        <div class="scale-settings">         
            <rx-accordion 
                [expandedIndex]="expandedIndex" 
                (expandedIndexChange)="onExpandedIndexChange($event)"
                [collapsing]="true" 
                [expandAll]="false">
            
                <rx-accordion-item [title]="'Measurement Scale'">
                    <ng-template accordionContent>
                        <span class="scale-settings__description">Define how objects on screen compare to real world measurements.</span>

                        <div class="scale-settings__mode-buttons">
                            <button class="scale-settings__mode-button" 
                                    [class.active]="!isSelectedCalibrate"
                                    [disabled]="!isSelectedCalibrate"
                                    (click)="onCalibrateCheckedChange(false)">
                                <img src="/assets/images/select-text-ico.svg" />
                                <span class="button-label">Manual Scale</span>
                            </button>
                            <button class="scale-settings__mode-button" 
                                    [class.active]="isSelectedCalibrate"
                                    (click)="onCalibrateButtonClick()">
                                <img src="/assets/images/measure-length-no-arrow-ico.svg"/>
                                <span class="button-label">Calibrate</span>
                            </button>
                        </div>

                        <div class="scale-settings__presets" *ngIf="!isSelectedCalibrate">
                            <span class="preset-label">Presets: </span>
                            <div *ngIf="selectedMetricType === MetricUnitType.METRIC">
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[0])">1:1</button>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[1])">1:10</button>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[2])">1:64</button>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[3])">1:100</button>
                            </div>

                            <div *ngIf="selectedMetricType === MetricUnitType.IMPERIAL">
                                <button class="preset-button" (click)="onPresetChanged(imperialPresetOptions[0])">1/128"= 1'</button>
                                <button class="preset-button" (click)="onPresetChanged(imperialPresetOptions[1])">1/64"= 1'</button>
                                <button class="preset-button" (click)="onPresetChanged(imperialPresetOptions[2])">1/32"= 1'</button>
                                <button class="preset-button" (click)="onPresetChanged(imperialPresetOptions[3])">1/16"= 1'</button>
                            </div>
                            
                            <rx-dropdown
                                [options]="selectedMetricType === MetricUnitType.IMPERIAL ? imperialPresetOptions : presetOptions"
                                type="three-dots"
                                (valueChange)="onPresetChanged($event)"
                            >
                            </rx-dropdown>
                        </div>

                        <div class="scale-settings__input" *ngIf="!isSelectedCalibrate">
                            <ng-container *ngIf="selectedMetricType === MetricUnitType.IMPERIAL; else metricInput">
                                <div class="scale-settings__input-container scale-settings__input-container--imperial">
                                    <input 
                                        rxNumberFormat 
                                        [allowNegative]="false" 
                                        type="text"
                                        [(ngModel)]="imperialNumerator" 
                                        (ngModelChange)="onImperialFractionChange()" />
                                    <span>/</span>
                                    <input 
                                        rxNumberFormat 
                                        [allowNegative]="false" 
                                        type="text"
                                        [(ngModel)]="imperialDenominator" 
                                        (ngModelChange)="onImperialFractionChange()" />
                                </div>
                                <div style="padding-right: 10px;"> = </div>
                                <div class="scale-settings__input-container">
                                    <input 
                                        rxNumberFormat 
                                        [allowNegative]="false" 
                                        type="text"
                                        [(ngModel)]="customDisplayScaleValue" />
                                   
                                </div>
                                <div class="scale-settings__input-container"> 
                                    <span class="scale-settings__input-label">Display unit: </span>
                                    <div class="scale-settings__input-unit-container scale-settings__input-container--border-radius-left">
                                        <div #scaleUnitTrigger class="scale-settings__input-unit-container-trigger" (click)="this.isScaleUnitOpened = !this.isScaleUnitOpened">
                                            {{selectedMetricUnit.shortLabel}}
                                            <img src="/assets/images/arrow-down.svg" class="btn-dropdown" />
                                        </div>
                                        <div #scaleUnitDropdown class="scale-settings__input-unit-container-dropdown top right" *ngIf="isScaleUnitOpened">
                                            <ul class="options-list">
                                                <li *ngFor="let option of scaleUnitOptions; let i = index"
                                                    (click)="selectMetricUnit(option)"
                                                    tabindex="0">
                                                    {{ option.shortLabel }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #metricInput>
                                <div class="scale-settings__input-container">
                                    <input 
                                        rxNumberFormat 
                                        [allowNegative]="false" 
                                        type="text"
                                        [(ngModel)]="customPageScaleValue" />
                                </div>
                                <div style="padding-right: 10px;"> : </div>
                                <div class="scale-settings__input-container">
                                    <input
                                        rxNumberFormat 
                                        [allowNegative]="false" 
                                        type="text"
                                        [(ngModel)]="customDisplayScaleValue" />
                                </div>

                                <div class="scale-settings__input-container">
                                    <span class="scale-settings__input-label">Display unit: </span>
                                    <div class="scale-settings__input-unit-container scale-settings__input-container--border-radius-left">
                                        <div #scaleUnitTrigger class="scale-settings__input-unit-container-trigger" (click)="this.isScaleUnitOpened = !this.isScaleUnitOpened">
                                            {{selectedMetricUnit.shortLabel}}
                                            <img src="/assets/images/arrow-down.svg" class="btn-dropdown" />
                                        </div>
                                        <div #scaleUnitDropdown class="scale-settings__input-unit-container-dropdown top right" *ngIf="isScaleUnitOpened">
                                            <ul class="options-list">
                                                <li *ngFor="let option of scaleUnitOptions; let i = index"
                                                    (click)="selectMetricUnit(option)"
                                                    tabindex="0">
                                                    {{ option.shortLabel }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>

                        <div class="scale-settings__input" *ngIf="isSelectedCalibrate">    
                            <div class="scale-settings__input-container scale-settings__input-container--border-radius-right">
                                <input 
                                    rxNumberFormat 
                                    [allowNegative]="false" 
                                    type="text"
                                    [(ngModel)]="calibrateLength" />
                                <div class="scale-settings__input-unit-container border-left-none">
                                    <div #scaleUnitTrigger class="scale-settings__input-unit-container-trigger" (click)="onScaleUnitTriggerClick()">
                                        {{selectedMetricUnit.shortLabel}}
                                        <img src="/assets/images/arrow-down.svg" class="btn-dropdown" />
                                    </div>
                                
                                    <div #scaleUnitDropdown class="scale-settings__input-unit-container-dropdown top right" *ngIf="isScaleUnitOpened">
                                        <ul class="options-list">
                                            <li *ngFor="let option of scaleUnitOptions; let i = index"
                                                (click)="selectMetricUnit(option)"
                                                tabindex="0">
                                                {{ option.shortLabel }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="scale-settings__input-container" *ngIf="selectedMetricType === MetricUnitType.IMPERIAL">
                                <input
                                    rxNumberFormat 
                                    [allowNegative]="false" 
                                    type="text"
                                    [(ngModel)]="calibrateLengthFraction" />
                                <div class="scale-settings__input-unit-container border-left-none">
                                    <div #fractionScaleUnitTrigger class="scale-settings__input-unit-container-trigger" (click)="onFractionScaleUnitTriggerClick()">
                                        {{selectedMetricUnitFraction.shortLabel}}
                                        <img src="/assets/images/arrow-down.svg" class="btn-dropdown" />
                                    </div>
                                    <div #fractionScaleUnitDropdown class="scale-settings__input-unit-container-dropdown top right" *ngIf="isScaleUnitOpenedFraction">
                                        <ul class="options-list">
                                            <li *ngFor="let option of scaleUnitOptions; let i = index"
                                                (click)="selectMetricUnitFraction(option)"
                                                tabindex="0">
                                                {{ option.shortLabel }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="scale-settings__precision">
                            <div class="scale-settings__rounded-button-wrapper">
                                <span class="preset-label">Precision: </span>

                                <rx-dropdown
                                    *ngIf="selectedMetricType === MetricUnitType.METRIC"
                                    [options]="precisionOptions"
                                    [value]="selectedScalePrecision"
                                    (valueChange)="onScalePrecisionChanged($event)"
                                >
                                </rx-dropdown>

                                <rx-dropdown
                                    *ngIf="selectedMetricType === MetricUnitType.IMPERIAL"
                                    [options]="imperialPrecisionOptions"
                                    [value]="selectedScalePrecision"
                                    (valueChange)="onScalePrecisionChanged($event)"
                                >
                                </rx-dropdown>
                                
                            </div>
                        </div>

                        <div class="panel-footer">
                            <button (click)="onCloseClick()" [disabled]="expandedIndex !== 0" class="measure-panel-button measure-panel-button__cancel">Cancel</button>
                            <button (click)="addNewScale()" [disabled]="expandedIndex !== 0" class="measure-panel-button measure-panel-button__create">
                                {{ isEditingScale ? 'Edit Scale' : 'Add New Scale' }}
                            </button>
                        </div>
                    
                    </ng-template>
                </rx-accordion-item>

                <rx-accordion-item [title]="'Display Units'">
                    <ng-template accordionContent>
                        <span class="scale-settings__description">Any units displayed or entered on canvas will be converted to this system</span>

                        <div class="scale-settings__radio-group">
                            <rx-radio-button 
                                [options]="metricSystemOptions" 
                                class="radio-group" 
                                [selectedValue]="selectedMetricType"
                                (selectionChange)="onRadioSelectionChange($event)">
                            </rx-radio-button>
                        </div>
                    </ng-template>
                </rx-accordion-item>

                <rx-accordion-item [title]="'Page Range'">
                    <ng-template accordionContent>
                        <span class="scale-settings__description">Select which pages this scale should apply to. Leave empty to apply to all pages.</span>

                        <div class="scale-settings__page-range">
                            <rx-page-range-input
                                [totalPages]="totalPages"
                                [defaultToAllPages]="true"
                                [(ngModel)]="selectedPageRanges"
                                (rangeChange)="onPageRangeChange($event)"
                                (currentPage)="setScaleForCurrentPage()"
                                placeholder="Enter page range (e.g., 1-5, 1,3,5)">
                            </rx-page-range-input>
                        </div>
                    </ng-template>
                </rx-accordion-item>
            </rx-accordion>
        </div>
    </div>

    
    <rx-accordion [collapsing]="false" [expandAll]="true" style="display: none;">
        <rx-accordion-item *ngIf="type == MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Measure type'">
            <ng-template accordionContent>
                <div class="btn-group" role="group">
                    <button [class.selected]="lengthMeasureType == 0" (click)="onLengthMeasureTypeChange(0)">
                        <img src="/assets/images/measure-length-no-arrow-ico.svg" />
                        <span>No arrow</span>
                    </button>
                    <button [class.selected]="lengthMeasureType == 1" (click)="onLengthMeasureTypeChange(1)">
                        <img src="/assets/images/measure-length-ico.svg" />
                        <span>Open Arrow</span>
                    </button>
                </div>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item [title]="'Colors'">
            <ng-template accordionContent>
                <rx-color-picker
                    [value]="color"
                    (valueChange)="onColorSelect($event)">
                </rx-color-picker>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item *ngIf="type != MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Thickness'">
            <ng-template accordionContent>
                <div class="slider-container">
                    <ngx-slider
                        class="slider"
                        [(value)]="strokeThickness"
                        [options]="{floor: 1, ceil: 12, hideLimitLabels: true, hidePointerLabels: true, showSelectionBar: true }"
                        (userChange)="onStrokeThicknessChange()">
                    </ngx-slider>
                    <span class="value">{{strokeThickness}}pt</span>
                </div>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item *ngIf="type != MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Style'">
            <ng-template accordionContent>
                <div style="margin-bottom: 22px;">
                    <rx-line-style-select
                        [value]="strokeLineStyle"
                        (valueChange)="onStrokeLineStyleSelect($event)">
                    </rx-line-style-select>
                </div>
            </ng-template>
        </rx-accordion-item>
    </rx-accordion>

    <div class="snap-section" style="display: none;">
        <span>Snap</span>
        <rx-switch
            [checked]="snap"
            (change)="onSnapChange($event)">
        </rx-switch>
    </div>

    <rx-modal-dialog *ngIf="isCalibrateModalOpened">
        <div class="extract-modal-container extract-modal">
            <div class="rx-modal-dialog-header">
                <span>Calibrate</span>
            </div>
            <div class="body">
                <p>Measure the distance on the page by selecting two points, <br>
                    adjust the calibration length on demand using the text field.</p>
                <rx-checkbox [(value)]="dontShowCalibrateAgain" label="Don't show this message again"></rx-checkbox>
            </div>
            <div class="footer">
                <button (click)="onCalibrateCheckedChange(true)" class="measure-panel-button measure-panel-button__create">Ok</button>
            </div>
        </div>
    </rx-modal-dialog>
</div>
