<div *ngIf="visible" class="text-editor-container" [ngStyle]="{ 'top.px' : rectangle?.y, 'left.px' : rectangle?.x }">
    
    <div class="text-span-wrapper"
    #wrapper
    [style.width.px]="rectangle?.w || 150"
    [style.height.px]="rectangle?.h || 24"
    [style.borderColor]="color">
   
     <!-- <div class="edit-frame" [style.borderColor]="color"></div> -->
    
     <span
       id="textinput"
       #textinput
       class="contenteditable-span"
       contenteditable="true"
       role="textbox"
       [ngStyle]="getTextStyle()"
       [style.color]="color || '#b80000'"
       (input)="onSpanInput($event)"
       (blur)="onSpanBlur($event)">
     </span>
    </div>

       
    
    
</div>
