<rx-panel
  *ngIf="canCollaborate && visible"
  [title]="'Room'"
  style="z-index: 9"
  class="room-panel"
  [maxHeight]="312"
  (onClose)="onClose()">
  <div class="room-panel-container">
    <div class="header-section">
      <span *ngIf="!user">Please login first!</span>
      <button *ngIf="user" (click)="updateRoomList()" title="Refresh room list">
        <img src="/assets/images/refresh.svg" alt="" srcset="">
      </button>
      <button *ngIf="user" (click)="createRoom()" title="Create room">
        <img src="/assets/images/tree-unfold.svg" alt="" srcset="">
      </button>
      <button *ngIf="user && isAdmin()" (click)="getAllRooms()" title="Print all existing rooms to console">
        <img src="/assets/images/info-ico.svg" alt="" srcset="">
      </button>
    </div>
    <div class="main-section">
      
      <ul *ngIf="user" class="list">
        <li *ngFor="let room of roomInfoArray" [class]="{'active': isActiveRoom(room.roomId)}">
          <span title="{{getDisplayRoomId(room.roomId)}}">{{getDisplayRoomId(room.roomId) + (isActiveRoom(room.roomId) ? " (Active)" : "")}}</span>
          <div class="button-group">
            <button *ngIf="user && !isActiveRoom(room.roomId)" (click)="joinRoom(room.roomId)" class="btn" title="Join room">
              <img src="/assets/images/join-room.svg" alt="Join" srcset="">
            </button>
            <button *ngIf="user && isActiveRoom(room.roomId)" (click)="leaveRoom()" class="btn" title="Leave room">
              <img src="/assets/images/leave-room.svg" alt="Leave" srcset="">
            </button>
            <button *ngIf="user && isAdmin() && hasMarkupForRoom(room.roomId)" (click)="deleteMarkupsForRoom(room.roomId)" class="btn" title="Delete markups for room">
              <img src="/assets/images/clean-room.svg" alt="Clear" srcset="">
            </button>
            <button *ngIf="user && isAdmin() && !isDefaultRoom(room.roomId)" (click)="deleteRoom(room.roomId)" class="btn" title="Delete room">
              <img src="/assets/images/trash-ico.svg" alt="Delete" srcset="">
            </button>
          </div>
        </li>
      </ul>
      <div *ngIf="user">
        <p>
          <span title="{{activeRoomId ? getDisplayRoomId(activeRoomId) : 'Need to join a room to see participants'}}">
            Participants ({{ participants.length }})
          </span>
        </p>
        <ul class="list">
          <li *ngFor="let participant of participants">
            <span class="span-name" title="{{ participant.username }} (socketId: {{ participant.socketId }})">{{ participant.displayName }}</span>
            <span *ngIf="socketId && participant.socketId == socketId" class="span-you" title="This is yourself"> (You)</span>
            <span *ngIf="socketId && participant.isPresenter && participant.socketId == socketId" class="span-presenter" title="You are the room presenter"> (Presenter)</span>
            <span *ngIf="socketId && participant.isPresenter && participant.socketId != socketId" class="span-presenter" title="{{participant.displayName}} is the room presenter"> (Presenter)</span>
            <div *ngIf="socketId && participant.socketId == socketId" class="button-group">
              <button *ngIf="!participant.isPresenter" (click)="openPresenterConfirmDialog()" class="btn" title="Start presenting">
                <img src="/assets/images/presenter.svg" alt="Presenter on" srcset="">
              </button>
              <button *ngIf="participant.isPresenter" (click)="removeRoomPresenter(activeRoomId)" class="btn" title="Stop presenting">
                <img src="/assets/images/presenter_off.svg" alt="Stop presenting" srcset="">
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</rx-panel>

<rx-modal-dialog [opened]="presenterConfirmDialogOpen" (onClose)="presenterConfirmDialogOpen = false">
  <div class="confirm-modal-container" style="max-width: fit-content;">
    <div class="rx-modal-dialog-header">
      <img (click)="presenterConfirmDialogOpen = false;" class="close" style="right: 14px; top: 10px;" src="/assets/images/close-modal-ico.svg" />
      <span class="title">Room Presenter</span>
    </div>
    <div class="body">
      <p>You are applying to become the room presenter.</p>
      <p>Once you apply, your actions will be synchronized with others in the room. This includes changes to the page rotation, zoom level, scrolling, scale, background color, paging, layers visibility, blocks visibility, and more.</p>
      <p>Are you sure you want to continue?</p>
    </div>
    <div class="footer">
      <button (click)="presenterConfirmDialogOpen = false;" class="btn btn-light">CANCEL</button>
      <button type="button" class="btn btn-primary" (click)="presenterConfirmDialogOpen = false; setRoomPresenter(activeRoomId)">CONTINUE</button>
    </div>
  </div>
</rx-modal-dialog>