.replace-modal {
    min-width: 480px;

    .rx-modal-dialog-header {
        height: 50px;

        span {
            font-weight: bold;
            font-size: 18px;
            position: absolute;
            left: 24px;
            top: 10px;
        }

        img {
            right: 14px;
            top: 10px;
        }
    }

    .body {
        word-wrap: break-word;
        padding: 0 24px 18px;

        span {
            font-size: 13px;
            color: var(--main);
        }
    }

    .footer {
        display: flex;
        justify-content: end;
        column-gap: 16px;
        padding: 0 24px 18px 24px;

        button {
            border: none;
            color: var(--accent);
            padding: 4px 8px;
            background-color: white;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

    }
}

.browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 100px 0;
    border: 1px dashed var(--main);

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            border: 1px solid var(--accent);
            color: var(--accent);
            border-radius: 4px;
            padding: 4px 8px;
            background-color: #FFF;
            font-size: 13px;
            cursor: pointer;

            &:hover {
                background-color: var(--accent);
                box-shadow: 0 0 4px var(--accent);
                color: #FFF;
            }   
        }
    }
}