<div class="side-nav-menu-wrapper">
    <div class="toggleable-panel" [class.opened]="toggleablePanelOpened">
        <div class="toggleable-panel-header">
            <h4 [ngSwitch]="activeIndex">
                <ng-container *ngSwitchCase="0">Pages</ng-container>
                <ng-container *ngSwitchCase="3">Layers</ng-container>
                <ng-container *ngSwitchCase="4">3D Parts</ng-container>
                <ng-container *ngSwitchCase="5">Signature</ng-container>
                <ng-container *ngSwitchCase="6">Blocks</ng-container>
            </h4>
            <span role="button" (click)="togglePanel(false); activeIndex = -1" *ngIf="visibleSidebarItemsCount() > 1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  style="transform: rotate(180deg);"
                >
                  <path
                    fill="currentColor"
                    d="M6.75 1.5a.75.75 0 0 0 0 1.5h4.75A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5H6.75a.75.75 0 0 0 0 1.5h4.75a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3zm3.03 5.97l-2.5-2.5a.75.75 0 0 0-1.06 1.06l1.22 1.22H1.75a.75.75 0 0 0 0 1.5h5.69L6.22 9.97a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06"
                  />
                </svg>
            </span>
         </div>
        <div class="toggleable-panel-body" [ngSwitch]="activeIndex">
            <rx-pages *ngSwitchCase="0"></rx-pages>
            <rx-vector-layers *ngSwitchCase="3"></rx-vector-layers>
            <rx-threed-parts *ngSwitchCase="4"></rx-threed-parts>
            <rx-signature-panel *ngSwitchCase="5"></rx-signature-panel>
            <rx-blocks *ngSwitchCase="6"></rx-blocks>
        </div>
    </div>
</div>

<rx-threed-part-info></rx-threed-part-info>
