<div class="dropdown-container">
  <div
    *ngIf="options.length > 0"
    class="dropdown-wrapper"
    [class.focused]="opened || selectedScale"
    [class.opened]="opened"
    [class.transparent]="true"
    (click)="opened = !opened"
  >
    <span class="value">{{ selectedScaleLabel }}</span>
    <img src="/assets/images/arrow-down.svg" class="btn-dropdown" />
  </div>
  <div *ngIf="opened" class="options-container">
    <div class="options-wrapper">
      <div class="options" role="listbox" aria-expanded="false">
        <div
          *ngFor="let item of options"
          role="option"
          tabindex="0"
          class="option"
          [class.hidden]="item.hidden"
          [class.selected]="isScaleSelected(item)"
          (click)="handleSelect(item)"
        >
          <span [innerHTML]="getScaleLabel(item)"></span>
          <span
            *ngIf="showDelete"
            (click)="onDeleteClick($event, item)"
            class="delete-item"
          >
            <img
              src="/assets/images/trash-ico.svg"
              height="22"
              class="trash-icon"
            />
          </span>
        </div>
        <div class="option-container">
            <div *ngIf="selectedScale" class="option" (click)="onEditScale()">
                <div class="edit-scale-trigger" title="Edit scale">
                  <div class="edit-scale-icon">
                    <img src="/assets/images/edit-ico.svg" /> Edit Selected
                  </div>
                </div>
              </div>
              <div class="option" (click)="showScaleSettings()">
                <div class="add-scale-trigger" title="Add new scale">
                  <div class="add-scale-icon">
                    <img src="/assets/images/tree-unfold.svg" /> Add New
                  </div>
                </div>
              </div>
        </div>
  
      </div>
    </div>
  </div>
</div>
